@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Regular";
    src: local("TitilliumWeb-Regular");
    src: url("./assets/fonts/TitilliumWeb-Regular.ttf") format("truetype")
}

@font-face{
    font-family: "Bold";
    src: local("TitilliumWeb-Bold");
    src: url("./assets/fonts/TitilliumWeb-Bold.ttf") format("truetype")
}

@font-face{
    font-family: "Black";
    src: local("TitilliumWeb-Black");
    src: url("./assets/fonts/TitilliumWeb-Black.ttf") format("truetype")
}

*{
    padding: 0;
    margin: 0;
 }

 @layer utilities{
    .LogoClass{
        @apply w-[40%] sm:w-[30%] md:w-[50%] h-auto aspect-video object-contain mix-blend-color-burn opacity-90;
    }

    .activeClass{
        @apply bg-primary rounded-full text-white px-3 py-1
    }    
    .activeClass2{
        @apply bg-secondary text-black  py-2 rounded-md px-3 font-semibold
    }
 }

header{
    z-index: 10001;
}

::-webkit-scrollbar{
    width: 0;
}


